* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Write CSS code here */
.tech-container {
  background-color: #f4faff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  min-height: 100vh;
}
.sub-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}
.cards-list-container {
  padding-left: 0px;
  display: flex;
  flex-direction: column;
  width: 60%;
}
.technologies {
  color: #171f46;
  font-family: 'Roboto';
  text-align: center;
}
.tech-desc {
  color: #64748b;
  font-family: 'Roboto';
  text-align: center;
}
@media screen and (min-width: 768px) {
  .cards-list-container {
    flex-direction: row;
    width: 60%;
    flex-wrap: wrap;
  }
}
